<!DOCTYPE html>
<html>
  <head>
    <style>
        html,body {
            margin:0;padding:0;
        }
        .oouter {
            float:left;
            width: 1280px;
            height: 600px;
            background-color: #2F4F4F;
            overflow: hidden;
            position:absolute;
        }
        .outer {
            width: 1276px;
            height: 596px;
            background: #48D1CC;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        .left_outer1 {
            width: 403px;
            height: 29px;
            background-color: #2F4F4F;
            margin-left: 6px;
            margin-top: 6px;
            overflow: hidden;
            position:absolute;
        }
        .left_outer2 {
            width: 220px;
            height: 29px;
            background-color: #2F4F4F;
            margin-left: 415px;
            margin-top: 6px;
            overflow: hidden;
            position:absolute;
        }
        .left_outer3 {
            width: 312px;
            height: 29px;
            background-color: #2F4F4F;
            margin-left: 6px;
            margin-top: 41px;
            overflow: hidden;
            position:absolute;
        }
        .left_outer4 {
            width: 311px;
            height: 29px;
            background-color: #2F4F4F;
            margin-left: 324px;
            margin-top: 41px;
            overflow: hidden;
            position:absolute;
        }
        .left_outer5 {
            width: 629px;
            height: 514px;
            background-color: #2F4F4F;
            margin-left: 6px;
            margin-top: 76px;
            overflow: hidden;
            position:absolute;
        }
        .right_outer {
            width: 629px;
            height: 584px;
            background-color: #2F4F4F;
            margin-left: 641px;
            margin-top: 6px;
            overflow: hidden;
            position:absolute;
        }
        .left1 {
            width: 399px;
            height: 25px;
            background-color: #F5FFFA;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        .left2 {
            width: 216px;
            height: 25px;
            background-color: #F5FFFA;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        .left3 {
            width: 308px;
            height: 25px;
            background-color: #F5FFFA;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        .left4 {
            width: 307px;
            height: 25px;
            background-color: #F5FFFA;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        .left5 {
            width: 625px;
            height: 510px;
            background-color: #F5FFFA;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        #right {
            width: 625px;
            height: 580px;
            background-color: #F5FFFA;
            margin-left: 2px;
            margin-top: 2px;
            overflow: hidden;
            position:absolute;
        }
        #box {
            width: 3144px;
            height: 3152px;
            background-color: aquamarine;
            position: absolute;
            left: {{setLeft}}px;
            top: {{setTop}}px;
        }
        .right_inner {
            width: 155px;
            height: 122px;
            background-color: #2F4F4F;
            margin-left: 0px;
            margin-top: 0px;
            overflow: hidden;
            position:absolute;
            z-index:9999;
        }
        .right_iinner {
            width: 153px;
            height: 120px;
            background-color: #F5FFFA;
            margin-left: 0px;
            margin-top: 0px;
            overflow: hidden;
            position:absolute;
        }
        .line0 {
            width: 153px;
            height: 1px;
            background-color: #2F4F4F;
            opacity: 0.5;
            margin-left: 0px;
            margin-top: {{My}}px;
            overflow: hidden;
            position:absolute;
        }
        .line1 {
            width: 1px;
            height: 120px;
            background-color: #2F4F4F;
            opacity: 0.5;
            margin-left: {{Mx}}px;
            margin-top: 0px;
            overflow: hidden;
            position:absolute;
        }
        .sel0 {
            color: #2F4F4F;
            background-color: #F5FFFA;
            margin-left: 3px;
            border: none;
        }
        .sel1 {
            color: #2F4F4F;
            background-color: #F5FFFA;
            border: none;
        }
        .sel2 {
            color: #2F4F4F;
            background-color: #F5FFFA;
            border: none;
        }
        .sel3 {
            color: #2F4F4F;
            background-color: #F5FFFA;
            margin-left: 3px;
            width: 142px;
            border: none;
        }
        .sel_year {
            margin-left: 3px;
            color: #2F4F4F;
            background-color: #F5FFFA;
            border: none;
        }
        .sel_month {
            color: #2F4F4F;
            background-color: #F5FFFA;
            border: none;
        }
        .sel_day {
            color: #2F4F4F;
            background-color: #F5FFFA;
            border: none;
        }
        .button {
            color: #2F4F4F;
            background-color: #F5FFFA;
            border: none;
        }
        .fon0 {
            color: #2F4F4F;
            font-size: 13px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Insert title here</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"> -->
    <link rel="icon" href="{{ url_for('static', filename='ico/favicon1.ico') }}">
    <script>
        function ChangeCarList(){
            var yearList = document.getElementById('year');
            var monthList = document.getElementById('month');
            if (['04', '06', '09', '11'].indexOf(monthList.options[monthList.selectedIndex].value) > -1){
                document.getElementById("day29").removeAttribute("disabled");
                document.getElementById("day30").removeAttribute("disabled");
                document.getElementById("day31").setAttribute("disabled", "disabled");
            }
            else if (['2012', '2016'].indexOf(yearList.options[yearList.selectedIndex].value) > -1 && monthList.options[monthList.selectedIndex].value == '02'){
                document.getElementById("day29").removeAttribute("disabled");
                document.getElementById("day30").setAttribute("disabled", "disabled");
                document.getElementById("day31").setAttribute("disabled", "disabled");
            }
            else if (monthList.options[monthList.selectedIndex].value == '02'){
                document.getElementById("day29").setAttribute("disabled", "disabled");
                document.getElementById("day30").setAttribute("disabled", "disabled");
                document.getElementById("day31").setAttribute("disabled", "disabled");
            }
            else{
                document.getElementById("day29").removeAttribute("disabled");
                document.getElementById("day30").removeAttribute("disabled");
                document.getElementById("day31").removeAttribute("disabled");
            }

            var yearList1 = document.getElementById('year1');
            var monthList1 = document.getElementById('month1');
            if (['04', '06', '09', '11'].indexOf(monthList1.options[monthList1.selectedIndex].value) > -1){
                document.getElementById("day129").removeAttribute("disabled");
                document.getElementById("day130").removeAttribute("disabled");
                document.getElementById("day131").setAttribute("disabled", "disabled");
            }
            else if (['2032', '2036', '2040', '2044', '2048', '2052', '2056'].indexOf(yearList1.options[yearList1.selectedIndex].value) > -1 && monthList1.options[monthList1.selectedIndex].value == '02'){
                document.getElementById("day129").removeAttribute("disabled");
                document.getElementById("day130").setAttribute("disabled", "disabled");
                document.getElementById("day131").setAttribute("disabled", "disabled");
            }
            else if (monthList1.options[monthList1.selectedIndex].value == '02'){
                document.getElementById("day129").setAttribute("disabled", "disabled");
                document.getElementById("day130").setAttribute("disabled", "disabled");
                document.getElementById("day131").setAttribute("disabled", "disabled");
            }
            else{
                document.getElementById("day129").removeAttribute("disabled");
                document.getElementById("day130").removeAttribute("disabled");
                document.getElementById("day131").removeAttribute("disabled");
            }
        }
        function SelectObsv(){
            document.getElementById({{observatory_id}}).selected = true;
        }
    </script>
  </head>
  <body  onload="ChangeCarList(); SelectObsv();">
    <div class="oouter">
        <div class="outer">
            <div class="left_outer1">
                <div class="left1">
                    <form method="post">
                        <select class="sel0" name="observatory_type" required>
                            <option value="-1" {{observatory_type_selecteds[0]}}>全観測項目</option>
                            <option value="01" {{observatory_type_selecteds[1]}}>雨量</option>
                            <option value="02" {{observatory_type_selecteds[2]}}>水位流量</option>
                            <option value="03" {{observatory_type_selecteds[3]}}>水質・底質</option>
                            <option value="04" {{observatory_type_selecteds[4]}}>地下水位・水質</option>
                            <option value="05" {{observatory_type_selecteds[5]}}>ダム・堰</option>
                            <option value="06" {{observatory_type_selecteds[6]}}>海象</option>
                            <option value="07" {{observatory_type_selecteds[7]}}>積雪深</option>
                        </select>
                        <select class="sel1" name="water_system" required>
                            <option value="-1" {{water_system_selecteds[0]}}>全水系</option>
                            <option value="90331000" {{water_system_selecteds[1]}}>福地川</option>
                            <option value="90332000" {{water_system_selecteds[2]}}>新川川</option>
                            <option value="90333000" {{water_system_selecteds[3]}}>安波川</option>
                            <option value="90334000" {{water_system_selecteds[4]}}>辺野喜川</option>
                            <option value="90335000" {{water_system_selecteds[5]}}>漢那福地川</option>
                            <option value="90336000" {{water_system_selecteds[6]}}>羽地大川</option>
                            <option value="90338000" {{water_system_selecteds[7]}}>億首川</option>
                            <option value="90339000" {{water_system_selecteds[8]}}>天願川</option>
                            <option value="90509000" {{water_system_selecteds[9]}}>大保川</option>
                            <option value="90512000" {{water_system_selecteds[10]}}>大井川</option>
                            <option value="90538000" {{water_system_selecteds[11]}}>報得川</option>
                            <option value="981198" {{water_system_selecteds[12]}}>増幌川</option>
                            <option value="981199" {{water_system_selecteds[13]}}>声問川</option>
                            <option value="983308" {{water_system_selecteds[14]}}>富士川</option>
                            <option value="987111" {{water_system_selecteds[15]}}>大社湾</option>
                            <option value="987799" {{water_system_selecteds[16]}}>蒲生川</option>
                            <option value="99901000" {{water_system_selecteds[17]}}>港川</option>
                            <option value="99902000" {{water_system_selecteds[18]}}>ジニサン川</option>
                            <option value="99903000" {{water_system_selecteds[19]}}>長浜川</option>
                            <option value="99904000" {{water_system_selecteds[20]}}>白水川</option>
                            <option value="147999" {{water_system_selecteds[21]}}>有津川</option>
                            <option value="247004" {{water_system_selecteds[22]}}>大浦川</option>
                            <option value="547102" {{water_system_selecteds[23]}}>与那川</option>
                            <option value="547103" {{water_system_selecteds[24]}}>比地川</option>
                            <option value="547104" {{water_system_selecteds[25]}}>田嘉里川</option>
                            <option value="547105" {{water_system_selecteds[26]}}>大保川</option>
                            <option value="547106" {{water_system_selecteds[27]}}>源河川</option>
                            <option value="547130" {{water_system_selecteds[28]}}>汀間川</option>
                            <option value="547135" {{water_system_selecteds[29]}}>奥川</option>
                            <option value="547146" {{water_system_selecteds[30]}}>億首川</option>
                            <option value="547147" {{water_system_selecteds[31]}}>座津武川</option>
                            <option value="547148" {{water_system_selecteds[32]}}>比謝川</option>
                            <option value="547151" {{water_system_selecteds[33]}}>武見川</option>
                            <option value="547152" {{water_system_selecteds[34]}}>宇嘉川</option>
                            <option value="547153" {{water_system_selecteds[35]}}>佐手川</option>
                            <option value="547154" {{water_system_selecteds[36]}}>佐手前川</option>
                            <option value="547155" {{water_system_selecteds[37]}}>宇良川</option>
                            <option value="547157" {{water_system_selecteds[38]}}>外掘田川</option>
                            <option value="547158" {{water_system_selecteds[39]}}>根路銘ポンプ場</option>
                            <option value="81001000" {{water_system_selecteds[40]}}>天塩川</option>
                            <option value="81002000" {{water_system_selecteds[41]}}>渚滑川</option>
                            <option value="81003000" {{water_system_selecteds[42]}}>湧別川</option>
                            <option value="81004000" {{water_system_selecteds[43]}}>常呂川</option>
                            <option value="81005000" {{water_system_selecteds[44]}}>網走川</option>
                            <option value="81006000" {{water_system_selecteds[45]}}>留萌川</option>
                            <option value="81007000" {{water_system_selecteds[46]}}>石狩川</option>
                            <option value="81008000" {{water_system_selecteds[47]}}>尻別川</option>
                            <option value="81009000" {{water_system_selecteds[48]}}>後志利別川</option>
                            <option value="81010000" {{water_system_selecteds[49]}}>鵡川</option>
                            <option value="81011000" {{water_system_selecteds[50]}}>沙流川</option>
                            <option value="81012000" {{water_system_selecteds[51]}}>釧路川</option>
                            <option value="81013000" {{water_system_selecteds[52]}}>十勝川</option>
                            <option value="81201000" {{water_system_selecteds[53]}}>声問川</option>
                            <option value="81221000" {{water_system_selecteds[54]}}>勇払川</option>
                            <option value="81241000" {{water_system_selecteds[55]}}>標津川</option>
                            <option value="82014000" {{water_system_selecteds[56]}}>岩木川</option>
                            <option value="82015000" {{water_system_selecteds[57]}}>高瀬川</option>
                            <option value="82016000" {{water_system_selecteds[58]}}>馬淵川</option>
                            <option value="82017000" {{water_system_selecteds[59]}}>北上川</option>
                            <option value="82018000" {{water_system_selecteds[60]}}>鳴瀬川</option>
                            <option value="82019000" {{water_system_selecteds[61]}}>名取川</option>
                            <option value="82020000" {{water_system_selecteds[62]}}>阿武隈川</option>
                            <option value="82021000" {{water_system_selecteds[63]}}>米代川</option>
                            <option value="82022000" {{water_system_selecteds[64]}}>雄物川</option>
                            <option value="82023000" {{water_system_selecteds[65]}}>子吉川</option>
                            <option value="82024000" {{water_system_selecteds[66]}}>最上川</option>
                            <option value="82025000" {{water_system_selecteds[67]}}>赤川</option>
                            <option value="83026000" {{water_system_selecteds[68]}}>久慈川</option>
                            <option value="83027000" {{water_system_selecteds[69]}}>那珂川</option>
                            <option value="83028000" {{water_system_selecteds[70]}}>利根川</option>
                            <option value="83029000" {{water_system_selecteds[71]}}>荒川</option>
                            <option value="83030000" {{water_system_selecteds[72]}}>多摩川</option>
                            <option value="83031000" {{water_system_selecteds[73]}}>鶴見川</option>
                            <option value="83032000" {{water_system_selecteds[74]}}>相模川</option>
                            <option value="83046000" {{water_system_selecteds[75]}}>富士川</option>
                            <option value="84033000" {{water_system_selecteds[76]}}>荒川</option>
                            <option value="84034000" {{water_system_selecteds[77]}}>阿賀野川</option>
                            <option value="84035000" {{water_system_selecteds[78]}}>信濃川</option>
                            <option value="84036000" {{water_system_selecteds[79]}}>関川</option>
                            <option value="84037000" {{water_system_selecteds[80]}}>姫川</option>
                            <option value="84038000" {{water_system_selecteds[81]}}>黒部川</option>
                            <option value="84039000" {{water_system_selecteds[82]}}>常願寺川</option>
                            <option value="84040000" {{water_system_selecteds[83]}}>神通川</option>
                            <option value="84041000" {{water_system_selecteds[84]}}>庄川</option>
                            <option value="84042000" {{water_system_selecteds[85]}}>小矢部川</option>
                            <option value="84043000" {{water_system_selecteds[86]}}>手取川</option>
                            <option value="84044000" {{water_system_selecteds[87]}}>梯川</option>
                            <option value="84270000" {{water_system_selecteds[88]}}>胎内川</option>
                            <option value="84271000" {{water_system_selecteds[89]}}>加治川</option>
                            <option value="85045000" {{water_system_selecteds[90]}}>狩野川</option>
                            <option value="85047000" {{water_system_selecteds[91]}}>安倍川</option>
                            <option value="85048000" {{water_system_selecteds[92]}}>大井川</option>
                            <option value="85049000" {{water_system_selecteds[93]}}>菊川</option>
                            <option value="85050000" {{water_system_selecteds[94]}}>天竜川</option>
                            <option value="85051000" {{water_system_selecteds[95]}}>豊川</option>
                            <option value="85052000" {{water_system_selecteds[96]}}>矢作川</option>
                            <option value="85053000" {{water_system_selecteds[97]}}>庄内川</option>
                            <option value="85054000" {{water_system_selecteds[98]}}>木曽川</option>
                            <option value="85056000" {{water_system_selecteds[99]}}>鈴鹿川</option>
                            <option value="85057000" {{water_system_selecteds[100]}}>雲出川</option>
                            <option value="85058000" {{water_system_selecteds[101]}}>櫛田川</option>
                            <option value="85059000" {{water_system_selecteds[102]}}>宮川</option>
                            <option value="85999000" {{water_system_selecteds[103]}}>中部その他</option>
                            <option value="86060000" {{water_system_selecteds[104]}}>由良川</option>
                            <option value="86061000" {{water_system_selecteds[105]}}>淀川</option>
                            <option value="86062000" {{water_system_selecteds[106]}}>大和川</option>
                            <option value="86063000" {{water_system_selecteds[107]}}>円山川</option>
                            <option value="86064000" {{water_system_selecteds[108]}}>加古川</option>
                            <option value="86065000" {{water_system_selecteds[109]}}>揖保川</option>
                            <option value="86066000" {{water_system_selecteds[110]}}>紀の川</option>
                            <option value="86067000" {{water_system_selecteds[111]}}>新宮川</option>
                            <option value="86068000" {{water_system_selecteds[112]}}>九頭竜川</option>
                            <option value="86069000" {{water_system_selecteds[113]}}>北川</option>
                            <option value="86282000" {{water_system_selecteds[114]}}>武庫川</option>
                            <option value="86500000" {{water_system_selecteds[115]}}>六甲山系</option>
                            <option value="87000000" {{water_system_selecteds[116]}}>中国その他</option>
                            <option value="87071000" {{water_system_selecteds[117]}}>千代川</option>
                            <option value="87072000" {{water_system_selecteds[118]}}>天神川</option>
                            <option value="87073000" {{water_system_selecteds[119]}}>日野川</option>
                            <option value="87074000" {{water_system_selecteds[120]}}>斐伊川</option>
                            <option value="87075000" {{water_system_selecteds[121]}}>江の川</option>
                            <option value="87076000" {{water_system_selecteds[122]}}>高津川</option>
                            <option value="87077000" {{water_system_selecteds[123]}}>吉井川</option>
                            <option value="87078000" {{water_system_selecteds[124]}}>旭川</option>
                            <option value="87079000" {{water_system_selecteds[125]}}>高梁川</option>
                            <option value="87080000" {{water_system_selecteds[126]}}>芦田川</option>
                            <option value="87081000" {{water_system_selecteds[127]}}>太田川</option>
                            <option value="87082000" {{water_system_selecteds[128]}}>小瀬川</option>
                            <option value="87083000" {{water_system_selecteds[129]}}>佐波川</option>
                            <option value="87291000" {{water_system_selecteds[130]}}>神戸川</option>
                            <option value="87293000" {{water_system_selecteds[131]}}>三隅川</option>
                            <option value="87295000" {{water_system_selecteds[132]}}>阿武川</option>
                            <option value="87296000" {{water_system_selecteds[133]}}>沼田川</option>
                            <option value="87297000" {{water_system_selecteds[134]}}>黒瀬川</option>
                            <option value="87298000" {{water_system_selecteds[135]}}>錦川</option>
                            <option value="87300000" {{water_system_selecteds[136]}}>椹野川</option>
                            <option value="87301000" {{water_system_selecteds[137]}}>厚東川</option>
                            <option value="87307000" {{water_system_selecteds[138]}}>益田川</option>
                            <option value="87500000" {{water_system_selecteds[139]}}>中国その他2</option>
                            <option value="87888000" {{water_system_selecteds[140]}}>中国その他3</option>
                            <option value="88000000" {{water_system_selecteds[141]}}>四国その他</option>
                            <option value="88084000" {{water_system_selecteds[142]}}>吉野川</option>
                            <option value="88085000" {{water_system_selecteds[143]}}>那賀川</option>
                            <option value="88086000" {{water_system_selecteds[144]}}>土器川</option>
                            <option value="88087000" {{water_system_selecteds[145]}}>重信川</option>
                            <option value="88088000" {{water_system_selecteds[146]}}>肱川</option>
                            <option value="88089000" {{water_system_selecteds[147]}}>物部川</option>
                            <option value="88090000" {{water_system_selecteds[148]}}>仁淀川</option>
                            <option value="88091000" {{water_system_selecteds[149]}}>渡川</option>
                            <option value="88304000" {{water_system_selecteds[150]}}>勝浦川</option>
                            <option value="88305000" {{water_system_selecteds[151]}}>香東川</option>
                            <option value="88306000" {{water_system_selecteds[152]}}>財田川</option>
                            <option value="88307000" {{water_system_selecteds[153]}}>加茂川</option>
                            <option value="88308000" {{water_system_selecteds[154]}}>海部川</option>
                            <option value="88309000" {{water_system_selecteds[155]}}>奈半利川</option>
                            <option value="88310000" {{water_system_selecteds[156]}}>伊尾木川</option>
                            <option value="88311000" {{water_system_selecteds[157]}}>鏡川</option>
                            <option value="88312000" {{water_system_selecteds[158]}}>松田川</option>
                            <option value="88313000" {{water_system_selecteds[159]}}>新川</option>
                            <option value="88314000" {{water_system_selecteds[160]}}>打樋川</option>
                            <option value="88500000" {{water_system_selecteds[161]}}>四国その他2</option>
                            <option value="88888000" {{water_system_selecteds[162]}}>四国その他3</option>
                            <option value="88999000" {{water_system_selecteds[163]}}>四国その他4</option>
                            <option value="89092000" {{water_system_selecteds[164]}}>遠賀川</option>
                            <option value="89093000" {{water_system_selecteds[165]}}>山国川</option>
                            <option value="89094000" {{water_system_selecteds[166]}}>筑後川</option>
                            <option value="89095000" {{water_system_selecteds[167]}}>矢部川</option>
                            <option value="89096000" {{water_system_selecteds[168]}}>松浦川</option>
                            <option value="89097000" {{water_system_selecteds[169]}}>六角川</option>
                            <option value="89098000" {{water_system_selecteds[170]}}>嘉瀬川</option>
                            <option value="89099000" {{water_system_selecteds[171]}}>本明川</option>
                            <option value="89100000" {{water_system_selecteds[172]}}>菊池川</option>
                            <option value="89101000" {{water_system_selecteds[173]}}>白川</option>
                            <option value="89102000" {{water_system_selecteds[174]}}>緑川</option>
                            <option value="89103000" {{water_system_selecteds[175]}}>球磨川</option>
                            <option value="89104000" {{water_system_selecteds[176]}}>大分川</option>
                            <option value="89105000" {{water_system_selecteds[177]}}>大野川</option>
                            <option value="89106000" {{water_system_selecteds[178]}}>番匠川</option>
                            <option value="89107000" {{water_system_selecteds[179]}}>五ヶ瀬川</option>
                            <option value="89108000" {{water_system_selecteds[180]}}>小丸川</option>
                            <option value="89109000" {{water_system_selecteds[181]}}>大淀川</option>
                            <option value="89110000" {{water_system_selecteds[182]}}>川内川</option>
                            <option value="89111000" {{water_system_selecteds[183]}}>肝属川</option>
                            <option value="89999000" {{water_system_selecteds[184]}}>九州その他</option>
                        </select>
                        <select class="sel2" name="prefecture" required>
                            <option value="-1" {{prefecture_selecteds[0]}}>全国</option>
                            <option value="0101" {{prefecture_selecteds[1]}}>北海道</option>
                            <option value="0201" {{prefecture_selecteds[2]}}>青森県</option>
                            <option value="0301" {{prefecture_selecteds[3]}}>岩手県</option>
                            <option value="0401" {{prefecture_selecteds[4]}}>宮城県</option>
                            <option value="0501" {{prefecture_selecteds[5]}}>秋田県</option>
                            <option value="0601" {{prefecture_selecteds[6]}}>山形県</option>
                            <option value="0701" {{prefecture_selecteds[7]}}>福島県</option>
                            <option value="0801" {{prefecture_selecteds[8]}}>茨城県</option>
                            <option value="0901" {{prefecture_selecteds[9]}}>栃木県</option>
                            <option value="1001" {{prefecture_selecteds[10]}}>群馬県</option>
                            <option value="1101" {{prefecture_selecteds[11]}}>埼玉県</option>
                            <option value="1201" {{prefecture_selecteds[12]}}>千葉県</option>
                            <option value="1301" {{prefecture_selecteds[13]}}>東京都</option>
                            <option value="1401" {{prefecture_selecteds[14]}}>神奈川県</option>
                            <option value="1501" {{prefecture_selecteds[15]}}>新潟県</option>
                            <option value="1601" {{prefecture_selecteds[16]}}>富山県</option>
                            <option value="1701" {{prefecture_selecteds[17]}}>石川県</option>
                            <option value="1801" {{prefecture_selecteds[18]}}>福井県</option>
                            <option value="1901" {{prefecture_selecteds[19]}}>山梨県</option>
                            <option value="2001" {{prefecture_selecteds[20]}}>長野県</option>
                            <option value="2101" {{prefecture_selecteds[21]}}>岐阜県</option>
                            <option value="2201" {{prefecture_selecteds[22]}}>静岡県</option>
                            <option value="2301" {{prefecture_selecteds[23]}}>愛知県</option>
                            <option value="2401" {{prefecture_selecteds[24]}}>三重県</option>
                            <option value="2501" {{prefecture_selecteds[25]}}>滋賀県</option>
                            <option value="2601" {{prefecture_selecteds[26]}}>京都府</option>
                            <option value="2701" {{prefecture_selecteds[27]}}>大阪府</option>
                            <option value="2801" {{prefecture_selecteds[28]}}>兵庫県</option>
                            <option value="2901" {{prefecture_selecteds[29]}}>奈良県</option>
                            <option value="3001" {{prefecture_selecteds[30]}}>和歌山県</option>
                            <option value="3101" {{prefecture_selecteds[31]}}>鳥取県</option>
                            <option value="3201" {{prefecture_selecteds[32]}}>島根県</option>
                            <option value="3301" {{prefecture_selecteds[33]}}>岡山県</option>
                            <option value="3401" {{prefecture_selecteds[34]}}>広島県</option>
                            <option value="3501" {{prefecture_selecteds[35]}}>山口県</option>
                            <option value="3601" {{prefecture_selecteds[36]}}>徳島県</option>
                            <option value="3701" {{prefecture_selecteds[37]}}>香川県</option>
                            <option value="3801" {{prefecture_selecteds[38]}}>愛媛県</option>
                            <option value="3901" {{prefecture_selecteds[39]}}>高知県</option>
                            <option value="4001" {{prefecture_selecteds[40]}}>福岡県</option>
                            <option value="4101" {{prefecture_selecteds[41]}}>佐賀県</option>
                            <option value="4201" {{prefecture_selecteds[42]}}>長崎県</option>
                            <option value="4301" {{prefecture_selecteds[43]}}>熊本県</option>
                            <option value="4401" {{prefecture_selecteds[44]}}>大分県</option>
                            <option value="4501" {{prefecture_selecteds[45]}}>宮崎県</option>
                            <option value="4601" {{prefecture_selecteds[46]}}>鹿児島県</option>
                            <option value="4701" {{prefecture_selecteds[47]}}>沖縄県</option>
                        </select>
                        <input class="button" type="submit" name="submit" value="Confirm0">
                    </form>
                </div>
            </div>
            <div class="left_outer2">
                <div class="left2">
                    <form method="post">
                        <select class="sel3" name="observatory" required>
                            {% for observatory in observatories %}
                            <option value={{observatory.id}} id={{observatory.id}}>{{observatory.name}}</option>
                            {% endfor %}
                            <input class="button" type="submit" name="submit" value="Confirm1">
                        </select>
                    </form>
                </div>
            </div>
            <div class="left_outer3">
                <div class="left3">
                    <form method="post">
                        <select class="sel_year" id="year" required onchange="ChangeCarList();" name="year">
                            <option value="-1">Y</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select>
                        <span class="fon0">年</span>
                        <select class="sel_month" id="month" required onchange="ChangeCarList();" name="month">
                            <option value="-1">M</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span class="fon0">月</span>
                        <select class="sel_day" id="day" required name="day">
                            <option value="-1">D</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29"id="day29">29</option>
                            <option value="30"id="day30">30</option>
                            <option value="31"id="day31">31</option>
                        </select>
                        <span class="fon0">日</span>
                        <input class="button" type="submit" name="submit" value="Confirm2">
                    </form>
                </div>
            </div>
            <div class="left_outer4">
                <div class="left4">
                    <form method="post">
                        <select class="sel_year" id="year1" required onchange="ChangeCarList();" name="year1">
                            <option value="-1">Y</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                            <option value="2036">2036</option>
                            <option value="2037">2037</option>
                            <option value="2038">2038</option>
                            <option value="2039">2039</option>
                            <option value="2040">2040</option>
                            <option value="2041">2041</option>
                            <option value="2042">2042</option>
                            <option value="2043">2043</option>
                            <option value="2044">2044</option>
                            <option value="2045">2045</option>
                            <option value="2046">2046</option>
                            <option value="2047">2047</option>
                            <option value="2048">2048</option>
                            <option value="2049">2049</option>
                            <option value="2050">2050</option>
                            <option value="2051">2051</option>
                            <option value="2052">2052</option>
                            <option value="2053">2053</option>
                            <option value="2054">2054</option>
                            <option value="2055">2055</option>
                            <option value="2056">2056</option>
                            <option value="2057">2057</option>
                            <option value="2058">2058</option>
                            <option value="2059">2059</option>
                        </select>
                        <span class="fon0">年</span>
                        <select class="sel_month" id="month1" required onchange="ChangeCarList();" name="month1">
                            <option value="-1">M</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span class="fon0">月</span>
                        <select class="sel_day" id="day1" required name="day1">
                            <option value="-1">D</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29"id="day129">29</option>
                            <option value="30"id="day130">30</option>
                            <option value="31"id="day131">31</option>
                        </select>
                        <span class="fon0">日</span>
                        <input class="button" type="submit" name="submit" value="Predict">
                    </form>
                </div>
            </div>
            <div class="left_outer5">
                <div class="left5">

                </div>
            </div>
            <div class = "right_outer">
                <div id="right">
                    <div class="right_inner">
                        <div class="right_iinner">
                            <div class="line0"></div>
                            <div class="line1"></div>
                            <img src="{{ url_for('static', filename='img/map.png') }}" width="153" height="120"/>
                        </div>
                    </div>
                    <div id="box">
                        <img src="{{ url_for('static',filename='img/chosen.png',_t=getTime) }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var box = document.getElementById("box");
        var fa = document.getElementById('right');
        box.onmousedown=function(ev) {
            var oEvent = ev; 
            oEvent.preventDefault();
            var disX = oEvent.clientX - box.offsetLeft;
            var disY = oEvent.clientY - box.offsetTop;
            fa.onmousemove=function (ev) {
                oEvent = ev;
                oEvent.preventDefault();
                var x = oEvent.clientX -disX;
                var y = oEvent.clientY -disY;
                x = x >= 0 ? 0 : x;
                x = x <= fa.offsetWidth-box.offsetWidth ? fa.offsetWidth-box.offsetWidth : x;
                y = y >= 0 ? 0 : y;
                y = y <= fa.offsetHeight-box.offsetHeight ? fa.offsetHeight-box.offsetHeight : y;
                box.style.left = x + 'px';
                box.style.top = y + 'px';
            }
            fa.onmouseleave = function () {
                fa.onmousemove=null;
                fa.onmouseup=null;
            }
            fa.onmouseup=function() {
                fa.onmousemove=null;
                fa.onmouseup=null;
            } 
        }
    </script>
  </body>
</html>